@font-face {
    font-family: 'NanumSquare';
    src: url('dehinted-NanumSquareR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('dehinted-NanumSquareB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('dehinted-NanumSquareL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('dehinted-NanumSquareEB.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
