.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc( 100vh - 80px );
}

.front-dots {
    display: flex; 
    justify-content: center;
    padding: 20px 0;
}

.front-dots li button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    opacity: 0.6;
    transition: opacity .4s;
}

.front-dots li.slick-active button {
    opacity: 1;
}

.front-dots li button:before {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
}

.front-title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.front-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4.4rem;
    margin-bottom: 7px;
    letter-spacing: 0;
}

.front-title p {
    line-height: 2;
    font-size: 1.8rem;
}

.front-contents {
    width: 100%;
    padding-bottom: 4%;
    margin-bottom: 60px;

    opacity: 0;
}

.front-title.is_init {
    transition: opacity .4s;
    transition-delay: 0;
    opacity: 1;
}

.front-contents.is_init {
    transition: opacity .4s;
    transition-delay: 600ms;
    opacity: 1;
}

.front-slide {
    margin: 0 -15px;
}

.front-box {
    line-height: 1;
    text-align: left;
    padding: 0 15px;
}

.front-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 19px 0 18px;
    margin-bottom: 17px;
    position: relative;
}

.front-box h2::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    bottom: 0;
}

.front-box p {
    font-size: 1.4rem;
    line-height: 1.76;
    opacity: 80%;
    letter-spacing: -0.025em;
}

.front-box-cover {
    width: auto;
    height: 60px;
    margin: 0 1px;
}


.front-arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #1c51fa;
    background-image: url(/wp-content/themes/wizcore/statics/home/images/icon-arrow.svg);
    -webkit-backface-visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 19px 10px;
}


.section {
    padding: 98px 0 97px 0;
    overflow: hidden;
    position: relative;
}

.section::before,
.section::after {
    content: ' ';
    display: table;
}

.section_centered {
    text-align: center;
}

.section_underline + .section_underline {
    border-top: 1px solid #eee;
}

.section_covered {
    padding-bottom: 0;
}

.section_gray {
    background-color: #f7f7f7;
}

.section_blue {
    background-color: #1c51fa;
    color: white;
}

.section-title {
    /* ADD */
    margin-top: -8px;
}

.section-title h1 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.56;
    margin-bottom: 22px;
}

.section-title h1.is_en {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 22px;
}

.section-title p {
    color: #555;
    line-height: 1.76;
    font-size: 1.6rem;
}

.section-header {
    margin-bottom: 80px;
    margin-bottom: 74px;
}

.section-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.4rem;
    font-weight: 600;
    margin-bottom: 31px;
    line-height: 0.8;
    text-indent: -2px;
}

.section-header p {
    color: #555;
    line-height: 1.76;
    font-size: 1.6rem;
}

.section-header-line {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section-header-line-item {
    margin-top: -3px;
}

.section-main {
    padding-top: 53px;
}

.section-main_mobile_reverse {
    display: flex;
    flex-direction: column;
}

.section-footer {
    margin-top: 30px;
}

.section-footer_centered {
    text-align: center;
}

.smart {
    padding-top: 50px;
    margin: 0 -25px;
}

/*
.smart-item {
    margin-bottom: 48px;
}
*/

.smart-cover {
    width: 140px;
    height: 100px;
    margin: 30px 0 37px;
}

.smart-title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.smart-title p {
    font-size: 3.2rem;
    font-weight: 800;
    white-space: nowrap;
    position: relative;
    line-height: 1.2;
}

.smart-title p::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 2px;
    margin: 0 2px;
    background-color: currentColor;
}

.smart-title h2 {
    font-weight: bold;
    margin: 37px 0 12px;
}

.smart-contents {
    font-size: 1.4rem;
    display: inline-block;
    margin: 12px auto 0;
    color: #555;
    line-height: 1.76;
}

.showcase {
    position: relative;
}

.showcase-logo {
    width: 200px;
    height: 32px;
    margin: 2px 0;
}

.showcase-title {
    margin-bottom: 54px;
}

.showcase-title h1 {
    font-size: 3.6rem;
    line-height: 2;
    font-weight: bold;
    margin: 17px 0 14px;
}

.showcase-title.is_en h1 {
    font-size: 4.4rem;
    line-height: 1.2;
    font-weight: 600;
}

.showcase-title.is_en h1 br {
    display: none;
}


.showcase-title.is_en p {
    max-width: none;
}

.showcase-title p {
    font-size: 1.6rem;
    opacity: 0.6;
    line-height: 1.76;
    max-width: 800px;
}

.showcase-cover-inside {
    position: relative;
}

.showcase-cover_nexpom .showcase-cover-inside {
    padding-top: 50%;
}

.showcase-cover {
    max-width: 940px;
    padding-top: 20px;
    /* margin-left: -47px; */
    margin-left: auto;
    overflow: hidden;
}

.showcase-cover-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.showcase-background {
    position: absolute;
    left: 50%;
    bottom: -7.7%;
    width: 2309px;
    height: 372px;
    max-width: none;
    z-index: 10;
    transform: translateX(-50%);
}

.gallery {
    margin-bottom: -9px;
    opacity: 0;
    transition: opacity .4s;
}

.gallery.is_init {
    opacity: 1;
}

.gallery-list {
    margin: 0 56px 0 -15px;
}

:root.is_win .gallery .slick-slide {
    margin-right: 1px;
}

.gallery-item {
    flex-shrink: 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.gallery-item:focus {
    outline: 0;
}

.gallery .slick-list {
  overflow: visible;
}
.gallery-box {
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    cursor: pointer;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: box-shadow .4s;
    overflow: hidden;
}

.gallery-box-overlay {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    transition: all .4s;
    transform: translateY(-50%);
    opacity: 0;
}

.gallery-box-cover {
    padding-top: 57.1428571428%;
    position: relative;
    overflow: hidden;
}

.gallery-box-cover img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.gallery-box:hover {
    box-shadow: 0 15px 20px rgba(0,0,0,0.3);
}

.gallery-box:hover .gallery-box-overlay {
    opacity: 1;
}

.gallery-box:hover .gallery-box-cover img {
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-arrow {
    background-position: left bottom;
}

.gallery-box-contents {
    border-top: 1px solid #eee;
    padding: 39px 0 14px;
    overflow: hidden;
}

.gallery-box-contents h2 {
    font-weight: bold;
    margin-bottom: 23px;
}

.gallery-box-contents p {
    color: #555;
    margin-bottom: 10px;
    line-height: 1.76;
    padding: 0 10px;
}

:root[lang="en-US"] .gallery-box-contents p {
    height: calc( 3em * 1.76 );
    overflow: hidden;
}

.gallery-arrow {
    position: relative;
    z-index: 5;
    display: block;
    margin: auto auto 20px;
    width: 40px;
    height: 10px;
    background-image: url(/wp-content/themes/wizcore/statics/common/images/arrows-line-sprite.png);
    background-size: 40px 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-scroll {
    margin-top: 60px;
    background-color: #ddd;
    height: 4px;
}

.gallery-scroll-item {
    width: 0;
    transition: width 1s;
    height: 4px;
    background-color: #1c51fa;
}


.gallery-dots {
    display: flex;
    justify-content: center;
    margin: 60px 0 0;
}

.gallery-dots li {
    flex-grow: 1;
}

.gallery-dots li button {
    background-color: #ddd;
    width: 100%;
    text-indent: -9999px;
    height: 4px;
}

.gallery-dots li  button:hover {
    background-color: #ccc;
}

.gallery-dots li.slick-active button {
    background-color: #1c51fa;
}

.solution {
    text-align: center;
    font-size: 1.6rem;
    padding: 88px 0 57px;
}

.solution-list {
    display: flex;
    color: #555;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -37px;
    margin-left: -20px;
    margin-right: -20px;
}

.solution-section {
    color: #555;
}

.solution-section-title {
    margin-bottom: 74px;
}

.solution-section-title h1 {
    display: flex;
    font-size: 3.6rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 21px;
    color: black;
}

.solution-section-title h1 span.is_en {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1px;
    margin-right: 16px;
    font-size: 4.4rem;
}

.solution-section-title p {
    line-height: 1.76;
}

.solution-contents {
    max-width: 600px;
    margin: 0 auto -35px auto;
}

.solution-item {
    margin: 0 20px 37px 20px;
    display: block;
}

.solution-item-cover {
    width: 160px;
    height: 160px;
    display: inline-block;
    margin-bottom: 28px;
    position: relative;
}

.solution-item-cover::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 2px solid #ddd;
    opacity: 0;
    transition: all .4s;
}

.solution-item:hover::after,
.solution-item:hover .solution-item-cover::after {
    opacity: 1;
}

.solution-item-contents h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.solution-item::after {
    content: ' ';
    display: inline-block;
    width: 40px;
    height: 10px;
    background-image: url(/wp-content/themes/wizcore/statics/common/images/arrows-line-sprite-primary.png);
    -webkit-backface-visibility: hidden;
    background-position: bottom;
    background-size: 40px 20px;
    opacity: 0;
    transition: all .4s;
}

@media ( max-height: 540px ) {
    .front {
        height: 460px;
    }
}

@media ( min-width: 1160px ) {
    .front-contents {
        margin-bottom: 60px;
    }

    .front-title h1 {
        font-size: 5.2rem;
    }
    
    .front-title p {
        font-size: 2rem;
    }

    .front-slide {
        margin: 0 -74px;
    }

    .front-box {
        padding: 0 74px;
    }

    .front-box h2 {
        font-size: 1.8rem;
        padding: 37px 0 18px;
    }

    .front-arrow {
        width: 60px;
        height: 60px;
        background-size: 22px 12px;
    }

    .section {
        padding: 139px 0;
    }

    .section_covered {
        padding-bottom: 0;
    }

    .section-title {
        margin-top: -1px;
    }

    .section-title h1 {
        font-size: 4.4rem;
        margin-bottom: 17px;
    }

    .section-title p {
        font-size: 1.8rem;
        line-height: 2;
    }

    .section-header {
        margin-top: 10px;
        margin-bottom: 22px;
    }

    .section-header-line-item {
        margin-top: -4px;
    }

    .section-header h1 {
        font-size: 5.2rem;
    }

    .section-title h1.is_en {
        font-size: 5.2rem;
        margin-left: -10px;
        margin-right: -10px;
    }

    .section-header p {
        font-size: 1.8rem;
        margin-bottom: 77px;
        margin-bottom: 0;
    }

    .section-contents {
        padding-top: 50px;
    }

    .section-main {
        padding-top: 50px;
    }

    .smart {
        padding-top: 65px;
        padding-bottom: 10px;
        margin: 0 -60px;
    }

    .smart-item {
        position: relative;
    }

    .smart-item:before {
        content: ' ';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        margin-top: 50px;
        margin-right: -20px;
        transform: translateX(-50%);
        background-color: #f5f5f5;
    }

    .smart-item_last:before {
        display: none;
    }

    .smart-title p {
        font-size: 4rem;
    }

    .smart-cover {
        margin: 55px 0 56px;
    }

    .smart-contents {
        font-size: 1.6rem;
    }

    .showcase {
        padding-top: 10px;
    }

    .showcase-title {
        margin-bottom: 50px;
    }

    .showcase-cover {
        max-width: 1047px; 
        margin-right: -103px;
        padding-top: 0;
        margin-top: -44px;
    }

    .showcase-cover_nexpom .showcase-cover-inside {
        padding-top: 51.8%;
    }

    .showcase-title h1 {
        font-size: 4.4rem;
        margin: 14px 0 7px;
    }

    .showcase-title.is_en h1 {
        font-size: 5.2rem;
        /* margin: 14px 0 7px; */
        margin: 28px 0 21px;
    }

    .showcase-title.is_en h1 br {
        display: inline;
    }

    .showcase-title.is_en p {
        max-width: none;
    }

    .showcase-title p {
        font-size: 1.8rem;
        line-height: 2;
    }

    .solution {
        padding: 137px 0 57px;
    }

    .solution-list {
        margin-bottom: 16px;
    }

    .solution-section-title {
        margin-bottom: 92px;
    }

    .solution-section-title h1 {
        font-size: 4.4rem;
    }

    .solution-section-title h1 span.is_en {
        font-size: 5.2rem;
    }

    .solution-section-title p {
        font-size: 1.8rem;
    }

    .solution-contents {
        max-width: none;
        margin: 0 auto 18px auto;
    }

    .solution-item {
        margin-left: 0;
        margin-right: 0;
    }

    .gallery {
        margin-bottom: -1px;
    }

    .gallery-list {
        margin: 0 -20px;
    }

    .gallery-item {
        padding: 0 20px;
    }

    .gallery-box-cover {
        margin-bottom: 14px;
    }

    .gallery-arrow {
        margin-bottom: 30px;
    }
}

@media ( max-width: 960px ) {
    .showcase-cover {
        margin-left: -47px; 
    }
}


@media ( max-width: 640px ) {
    .front {
        max-height: 460px;
    }
    
    .front-title h1 {
        font-size: 3.6rem;
    }

    .front-title p {
        font-size: 1.6rem;
        max-width: 210px;
        line-height: 1.76;
    }
    .front-box {
        /* max-width: 200px; 원래 이 사이즈였음 */
        max-width: 220px;
        text-align: center;
        margin: 0 auto;
    }
    .front-box h2 {
        padding: 20px 0;
    }
    .front-box h2::after {
        width: 20px;
        margin: auto;
    }
    .front-box-cover {
        margin: 0 auto;
    }
    .front-contents {
        margin-bottom: 48px;
    }
    .section {
        padding: 92px 0 100px 0; 
    }
    .section_covered {
        padding-bottom: 0;
    }
    .section-title h1 {
        font-size: 2.8rem;
        margin-bottom: 26px;
    }

    .section-title p {
        font-size: 1.4rem;
        line-height: 1.76;
    }

    .section-header {
        margin-top: 6px;
        margin-bottom: 30px;
    }

    .section-header-line-item {
        margin-top: -6px;
    }

    .section-header h1 {
        font-size: 3.6rem;
        margin-bottom: 34px;
    }

    .section-title h1.is_en {
        font-size: 3.6rem;
        margin-bottom: 34px;
    }

    .section-header p {
        font-size: 1.4rem;
        margin-bottom: 60px;
        margin-bottom: 0;
    }

    .section-header-line-item.button {
        display: none;
    }

    .section-contents {
        padding-top: 24px;
    }

    .section-title {
        margin-top: 0;
    }

    .section-main {
        padding-top: 24px;
    }

    .section-main_mobile_reverse {
        flex-direction: column-reverse;
    }

    .solution {
        font-size: 1.4rem;
        padding-top: 90px;
    }

    .solution-list {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .solution-section-title {
        margin-bottom: 54px;
    }

    .solution-section-title h1 {
        font-size: 2.8rem;
        margin-bottom: 31px;
        flex-direction: column;
    }

    .solution-section-title h1 span.is_en {
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 3.6rem;
    }

    .solution-item {
        margin: 0 0 37px 0;
        width: 50%;
        min-width: 160px;
    }

    .smart {
        padding-top: 0;
        padding-bottom: 54px;
    }

    .smart-item {
        margin-bottom: 24px;
    }
    .smart-item_last {
        margin-bottom: 0;
    }

    .showcase {
        padding-top: 7px;
    }

    .showcase-logo {
        width: 140px;
        height: 23px;
    }
    .showcase-cover {
        margin-left: -6%;
    }

    .showcase-cover_nexpom .showcase-cover-inside {
        padding-top: 55%;
    }

    .showcase-title h1 {
        font-size: 2.8rem;
        line-height: 1.54;
        margin: 28px 0 27px;
    }

    .showcase-title p {
        font-size: 1.4rem;
    }

    .showcase-background {
        bottom: -20%;
        bottom: -35%;
    }

    .gallery {
        margin-bottom: -12px;
    }

    .gallery .slick-track {
        left: 0;
    } 

    .gallery-list {
        margin: 0 26px 0 -15px;
    }

    .gallery-arrow {
        margin: auto auto 20px;
    }

    .gallery-box:hover {
        box-shadow: none;
    }

    .gallery-box:hover .gallery-box-overlay,
    .gallery-box:hover::before {
        opacity: 0;
    }

    .gallery-box:hover .gallery-box-cover img {
        transform: none;
    }

    .gallery-box:hover .gallery-arrow {
        background-position: left top;
    }
}
